		
		<iframe id="forum_embed"
			src="javascript:void(0)"
			scrolling="no"
			frameborder="0"
			width="100%"
			height="750">
		</iframe>
		
		<script type="text/javascript">
			
			// Load the iframe with the default height
			$('#forum_embed').attr('src', '{{forum_address}}');			
			
			// Resize iframe to fit the contents
			$('#forum_embed').ready(size_iframe);
		
		
			// Dynamically resizes the iframe to fit the content
			// Source code from: http://sonspring.com/journal/jquery-iframe-sizing
			function size_iframe()
			{
				// Set specific variable to represent all iframe tags.
				var iFrames = document.getElementsByTagName('iframe');

				// Resize heights.
				function iResize()
				{
					// Iterate through all iframes in the page.
					for (var i = 0, j = iFrames.length; i < j; i++)
					{
						// Set inline style to equal the body height of the iframed content.
						iFrames[i].style.height = iFrames[i].contentWindow.document.body.offsetHeight + 'px';
					}
				}

				// Check if browser is Safari or Opera.
				if ($.browser.safari || $.browser.opera)
				{
					// Start timer when loaded.
					$('iframe').load(function()
						{
							setTimeout(iResize, 0);
						}
					);

					// Safari and Opera need a kick-start.
					for (var i = 0, j = iFrames.length; i < j; i++)
					{
						var iSource = iFrames[i].src;
						iFrames[i].src = '';
						iFrames[i].src = iSource;
					}
				}
				else
				{
					// For other good browsers.
					$('iframe').load(function()
						{
							// Set inline style to equal the body height of the iframed content.
							this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
						}
					);
				}
			}

		</script>
