	<div style="margin:20px;">
		<div id="welcome">
			<a href="http://bigbluebutton.org/" title="BigBlueButton">BigBlueButton</a> is an open source web conferencing system for distance education.</p>
			<p>  It supports sharing of slides (PDF and any document readable by OpenOffice), webcams, whiteboard, chat, voice over IP (using FreeSWITCH), and presenter's desktop.  It can record and playback sessions (slides, audio, and chat), runs on Mac, Unix, and PC computers, and is supported by a <a href="http://bigbluebutton.org/support" title="BigBlueButton Support">community of developers</a> that care about good design and a streamlined user experience. 
			</p>
		</div>
		<div class="form" id="create">
			<h3>Create your Meeting</h3>
			<div>
				<p class="label" style="width:250px;">Enter the Meeting Name:</p>
				<input class="field" type="text" autofocus="" required="" name="meetingName" />
			</div>
			<div>
				<p class="label" style="width:250px;">Enter a welcome message (optional)</p>
				<textarea name="welcome-message" rows="4" cols="50"></textarea>
			</div>
			<div>
				<input class="submit_btn" id="start-meeting-button" type="submit" value="Create meeting" />
			</div>
		</div>
		<div id="meeting-info" style="margin: 20px 0 20px 0; "></div>
	</div>