	<div class="form" id="view-recordings" style="margin:20px;">
		<h3>View Recordings</h3>
		<div>
			<p class="label" style="width:250px">Select a Recording:</p>
			<select class="field" id="recording-select" name="recordings"> 
				<option>Loading meetings...</option>
			</select>
		</div>
		<div id="recording-info" style="margin-top: 20px;"></div>
	</div>
	<div class="form" id="meetings-list" style="margin:20px;">
		<h3>Join a webinar</h3>
		<div id="meeting-info" style="margin: 20px 0 20px 0; ">Retrieving running meetings, please wait...</div>
	</div>