{% extends "base.html" %}
{% load url from future %}
{% block title %}Register | AUCA Class2Go{% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}
{% if form.errors %}
    <div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    Please correct the errors below.
    </div>
{% endif %}

<div class="row-fluid">
<div class="span3">
</div>
<div class="registration span5">
	<div class="well">
        <h2>Register for AUCA Class2Go</h2>

		<form action="{% url 'registration_register' %}" method="post" class="form-horizontal">
            <fieldset>
		    {% include 'registration/regforminputs.html' %}
            </fieldset>
		    <div class="form-actions">
                <p>
                 {{form.tos}} Please check this box to continue
                </p>
		    	<input type="submit" value="Register" class="btn btn-primary btn-large" /> &nbsp; Already have an account?  <a href="{% url 'auth_login' %}?next=/{{request.GET.pre}}/{{request.GET.post}}"> Login instead</a>
			</div>
		</form>        
	</div>
</div>
</div>

{% endblock m_column_content %}
