
/* Global Styles / Overrides
-------------------------------------------------- */


h1, h2, h3, h4, h5, h6 {
    text-rendering: auto;
}


/* Homepage Styles
-------------------------------------------------- */

.body-content {
    min-height:500px;
}

body.home {
    background:#E3E9EB;;
}

.home .hero-header {
    background:
		url(/static/graphics/core/auca/en.gif) no-repeat, 
		url(/static/graphics/core/auca/aucalogo.jpg) no-repeat right top,  
		url(/static/graphics/core/auca/bg2.gif) repeat;
	height: 118px;
}

.home-unit {
	padding:0;
}

.course {
	border: 2px solid #284872;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	margin-left: -15px;
}

.instructor-info {
	margin-top: -15px;
}

.course-image {
	float: left;
	margin-right: 20px;
}

.course-summary {
	overflow: hidden;
}

.course-info {
	margin: 20px;
}

/* Header
-------------------------------------------------- */
#global-header-home {
    background:#FFE373;
	color: #043A6B;
}

#global-header-home a {
	color: #043A6B;
}

#global-header-course {
    background:#8C1515;	
}

#global-header-course a {
	color: #E9E6DF;
}


.auca-header-text{
	padding-left: 25px;
    display:block;
    overflow:hidden;
	font-size: 12pt;
}

/* Footer
-------------------------------------------------- */
#global-footer-home {
    background:#FFE373;
    width:100%;
	color: #000;
	border-top: 2px solid #1C3F94;
	padding: 0;
	
	position: fixed;
	bottom: 0;
	padding: 0;
}

#global-footer-home a {
    color: #820000;
}

#global-footer-home .vcard {
    color:#043A6B;
}

#global-footer-home p {
	margin-top: 0;
}

#global-footer-home .row  {
   	padding: 10px 0 0 35px;
}

.class2go {
	top: 25px;	
	padding: 0;
}

/* Course footer style overrides */

#global-footer {
	padding: 0;
}

#global-footer  .row{
   	padding: 10px 0 0 35px;
	color: #FFF;
}

#global-footer a {
    color: #E9E6DF;
}


/* Course stuff
-------------------------------------------------- */


table.width100 {
	width: 100%;
}

table.width90 {
	width: 90%;
}

table.width80 {
	width: 80%;
}

table.width70 {
	width: 70%;
}

table.width60 {
	width: 60%;
}

table.width50 {
	width: 50%;
}

col.width100 {
	width: 100%;
}

col.width90 {
	width: 90%;
}

col.width80 {
	width: 80%;
}

col.width70 {
	width: 70%;
}

col.width60 {
	width: 60%;
}

col.width50 {
	width: 50%;
}


table.kg-lang { 
	border-collapse: collapse; 
	margin-bottom: 25px;
}

table.kg-lang td,  table.kg-lang, th { 
	border: 2px solid black; 
	padding: 5px;
}

table.kg-lang audio {
    width: 90px;
    height: 40px;
}

div.audio-box {
    margin-bottom: 20px;
    width: 300px;
}

.audio-caption {
    text-align: center;
    font-size: smaller;
    margin: -5px 0 0;
}

/* For AUCA's ELPT test expressions */
.elpt-expression {
	text-decoration: underline;
	font-style: italic;
}

.elpt-text {
	padding-left: 25px;
	min-width: 550px
}

.elpt-line-number {
	position: absolute;
	left: 15px;
}

.elpt-essay {
	height: 400px; 
	width: 75%;
}