<html>
    <head>
        
        <link rel="stylesheet" href="/static/css/core/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/core/body.css" />
		<link rel="stylesheet" href="/static/css/core/auca-overrides.css" />
        <!--[if IE 7]>
         <link rel="stylesheet" href="/static/css/core/font-awesome-ie7.css">
         <![endif]-->
        
        <title>AUCA Class2Go</title>
        
    </head>
    <body>
        <div id="viewport">
			<div id="global-header-course">
				<h1 class="auca-header-text"><a href="http://www.auca.kg">American University of Central Asia</a></h1>
			</div>
            
            <div class="container-fluid body-content">
                
                <h3>Looks like something went wrong.  We're very sorry about this.</h3>
                
                <p>The system has already notified us, but please feel free to email us to make sure we notice quickly, at auca.class2go@gmail.com  </p>
                
                <p>Sorry about that!</p>
            </div>

			<div id="global-footer" class="footer hidden-phone" >
				<div class="row">
					<div id="bottom-text" class="span10">
						<p><strong><a href="http://class2go.auca.kg">AUCA Class2Go Home</a></strong> - <span class="vcard">American University of Central Asia, 205 Abdymomunov St., Bishkek, Kyrgyz Republic 720040</span></p>
					</div>
				</div>
			</div>
         </div>
    </body>
</html>
