{% extends "base.html" %}
{% load url from future %}
{% block title %}Contact Us | AUCA Class2Go{% endblock title %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h3>How to reach AUCA Class2Go</h3>
        <p>If you need help with your course, please contact your instructor.</p>
        <p>If you need technical help or have a problem to report, please contact us at: <a href="mailto:class2go@mail.auca.kg">class2go@mail.auca.kg</a></p>
   </div>
</div>
{% endblock m_column_content %}
